<div class="animated fadeIn">

  <div class="row">
    <div class="col-sm-3 col-lg-2">
      <div class="card text-white bg-primary" ng-controller="AppPerfCtrl">
        <div class="card-body pb-0">
          <div class="btn-group float-right">
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Enable</a>
              <a class="dropdown-item" href="#">Disable</a>
              <a class="dropdown-item" href="#">Config</a>
            </div>
          </div>
          <h4 class="mb-0">POP3: {{pop.processed_all}}</h4>
          <h4 class="mb-0">IMAP: {{imap.processed_all}}</h4>
          <p>Imported</p>
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-sm-3 col-lg-2">
      <div class="card text-white bg-info" ng-controller="AppPerfCtrl">
        <div class="card-body pb-0">
          <div class="btn-group float-right">
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Enable</a>
              <a class="dropdown-item" href="#">Disable</a>
              <a class="dropdown-item" href="#">Config</a>
            </div>
          </div>
          <h4 class="mb-0">{{pre.processed_all}}</h4>
          <p>Pre-Processed</p>
        </div>
      </div>
    </div>
    <!--/.col-->
    
    <div class="col-sm-3 col-lg-2">
      <div class="card text-white bg-warning" ng-controller="AppPerfCtrl">
        <div class="card-body pb-0">
          <div class="btn-group float-right">
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Enable</a>
              <a class="dropdown-item" href="#">Disable</a>
              <a class="dropdown-item" href="#">Config</a>
            </div>
          </div>
          <h4 class="mb-0">{{pro.processed_all}}</h4>
          <p>NLP-Processed</p>
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-sm-3 col-lg-2">
      <div class="card text-white bg-primary" ng-controller="AppPerfCtrl">
        <div class="card-body pb-0">
          <div class="btn-group float-right">
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Enable</a>
              <a class="dropdown-item" href="#">Disable</a>
              <a class="dropdown-item" href="#">Config</a>
            </div>
          </div>
          <h4 class="mb-0">{{pst.processed_all}}</h4>
          <p>Post-Processed</p>
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-sm-3 col-lg-2">
      <div class="card text-white bg-success" ng-controller="AppPerfCtrl">
        <div class="card-body pb-0">
          <div class="btn-group float-right">
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Enable</a>
              <a class="dropdown-item" href="#">Disable</a>
              <a class="dropdown-item" href="#">Config</a>
            </div>
          </div>
          <h4 class="mb-0">{{smtp.processed_all}}</h4>
          <p>Sent/Exported</p>
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-sm-3 col-lg-2">
      <div class="card text-white bg-danger" ng-controller="AppPerfCtrl">
        <div class="card-body pb-0">
          <div class="btn-group float-right">
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Enable</a>
              <a class="dropdown-item" href="#">Disable</a>
              <a class="dropdown-item" href="#">Config</a>
            </div>
          </div>
          <h4 class="mb-0">{{arc.processed_all}}</h4>
          <p>Archived/Deleted</p>
        </div>
      </div>
    </div>
    <!--/.col-->
   
    
   </div>
  <!--/.row-->

  <div class="card" ng-controller="trafficDemoCtrl">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Overview</h4>
          <div class="small text-muted">Activity</div>
        </div>
        <!--/.col-->
        <div class="col-sm-7 d-none d-md-block">

        <!--/.col-->
      </div>
      <!--/.row-->

    </div>
    <div class="card-footer">

    </div>
  </div>
  <!--/.card-->

 
 
</div>