<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">

    </div>
    <!--/.col-->
  </div>
  <!--/.row-->

  <div class="row">
    <div class="col-lg-12">
      <div class="card card-accent-secondary">
        <div class="card-header">
          <i class="fa fa-align-justify "></i> Configuration
			<div class="dt-buttons btn-group float-right">      
				<button class="btn btn-outline-secondary btn-sm buttons-copy buttons-html5" tabindex="0" aria-controls="tblCSP"><i class="fa fa-clipboard"></i><span> Copy</span></button> 
				<button class="btn btn-outline-secondary btn-sm buttons-excel buttons-html5" tabindex="0" aria-controls="tblCSP"><i class="fa fa-file-excel-o"></i><span> Excel</span></button> 
				<button class="btn btn-outline-secondary btn-sm buttons-pdf buttons-html5" tabindex="0" aria-controls="tblCSP"><i class="fa fa-file-pdf-ot"></i><span> PDF</span></button> 
				<button class="btn btn-outline-secondary btn-sm buttons-csv buttons-html5" tabindex="0" aria-controls="tblCSP"><i class="fa fa-file-code-o"></i><span> CSV</span></button> 
				<a href="#" class="btn btn-outline-secondary btn-sm float-right" onclick="javascript:window.print();"><i class="fa fa-print"></i> Print</a>
				<div class="btn-group float-right" dropdown="" >
		            <button class="btn btn-outline-primary btn-sm dropdown-toggle" data-toggle="dropdown" type="button" aria-haspopup="true" >
		              Functions <span class="caret"></span>
		            </button>
			            <!---->
			            <ul class="dropdown-menu" role="menu" style="left: 0px; right: auto; top: 100%; transform: translateY(0px);">
			              <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
			              <li role="menuitem"><a class="dropdown-item" href="#">Another action</a>
			              </li>
			            </ul>
				</div>
			</div>
       </div>
        <div class="card-body">
          <table id="tblCSP" class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Parameter</th>
                <th>Value</th>
                <th>Function</th>
              </tr>
            </thead>
            <tbody>

              <tr>
                <td>Enable</td>
                <td>true</td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>

            </tbody>
          </table>
         </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
<script>
$('#tblCSP').DataTable( {
	 dom: 'lfrtip',
	 buttons: [
       'copy', 'excel', 'pdf', 'csv'
   ]
} );
</script>