<header class="app-header navbar">
  <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" ui-sref="app.main"></a>
  <ul class="nav navbar-nav d-md-down-none" >
    <li class="nav-item">
      <a class="nav-link navbar-toggler sidebar-toggler" href="#">
        <span class="navbar-toggler-icon"></span>
      </a>
    </li>

    <li class="nav-item px-3">
    
     <a class="nav-link" ui-sref-active="active" ui-sref="app.main">Dashboard</a>
    </li>
	
  </ul>
  <ul class="nav navbar-nav ml-auto d-md-down-none">
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-success">0</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="icon-list"></i></a>
    </li>
     <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <img src="assets/images/avatars/1.jpg" class="img-avatar" alt="swelcker@expertsystem.com">
      </a>
      <div class="dropdown-menu dropdown-menu-right">

        <div class="dropdown-header text-center">
          <strong>Account</strong>
        </div>

 
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
        <div class="divider"></div>
        <a class="dropdown-item" href="#"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link navbar-toggler aside-menu-toggler" href="#">
        <span class="navbar-toggler-icon"></span>
      </a>
    </li>

  </ul>
</header>